USE [TES_DEV]
GO
/****** Object:  StoredProcedure [dbo].[spUpdatePublicHolidays]    Script Date: 25/12/2025 9:44:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Frank Out
-- Create date: 11/2019
-- Description:	Once a year script that get data from external source
-- App: C#
-- Package: Nager.Date
-- Version 1.0 Initial creation
-- Version 2.0 Modified it so that it takes the connection string for argument that way we can change to any server
-- =============================================
ALTER PROCEDURE [dbo].[spUpdatePublicHolidays] 
 
AS
BEGIN
 
	SET NOCOUNT ON;
	DECLARE @CMDSQL AS varchar(1000)	
	DECLARE @BoxingDay			as date	
	DECLARE @QBday				as date	
	DECLARE @tYear				as int = YEAR(GETDATE())   
	DECLARE @nYear				as int = YEAR(GETDATE())   + 5
	DECLARE @EndSep				as date

 
	

	-- Get PH from Web (C# App)
	SET @CMDSQL = 'C:\SqlAssb\PubHol\SqlPublicHolidays.exe Data Source=TESSQL02;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Application Name=PublicHoliday;DATABASE=TES_DEV' 
	Exec master..xp_cmdshell @CMDSQL

	 

	-- Queens Birthday is missing for WA list
	IF NOT EXISTS(SELECT * FROM vwPublicHolidaysWA  WHERE phName LIKE 'xdfrQueen%')
		BEGIN	 
			SET @EndSep =  CAST( '09/30/' + CAST(@tYear  AS VARCHAR(4)) AS date )
			IF DATEPART(DW,@EndSep ) < 3 
				SET  @QBday =DATEADD(DD,-5- DATEPART(DW,@EndSep ),@EndSep)  
			ELSE
				SET  @QBday = DATEADD(DD,2- DATEPART(DW,@EndSep ),@EndSep)  
 
 			IF DATEPART(wk,@EndSep) = 1 	
				SET  @QBday = @EndSep
	 
			INSERT tblPublicHolidaysAuto (phDate,phName,phGlobal,phCounty,phYear) VALUES(@QBday, 'Queen''s Birthday',0,'AUS-WA.',@tYear) 
				
			SET @EndSep =  CAST( '09/30/' + CAST(@nYear  AS VARCHAR(4)) AS date )
			IF DATEPART(DW,@EndSep ) < 3 
				SET  @QBday =DATEADD(DD,-5- DATEPART(DW,@EndSep ),@EndSep)  
			ELSE
				SET  @QBday = DATEADD(DD,2- DATEPART(DW,@EndSep ),@EndSep)  
 

 			IF DATEPART(wk,@EndSep) = 1 	
				SET  @QBday = @EndSep
	 
			INSERT tblPublicHolidaysAuto (phDate,phName,phGlobal,phCounty,phYear) VALUES(@QBday, 'Queen''s Birthday',0,'AUS-WA.',@nYear) 				
 		END


	 
		--Fix Xmass on weekend
		--=================================================
		-- Saterday
		UPDATE  tblPublicHolidaysAuto
		SET phDate = DATEADD(day,2,phDate)	
		WHERE (phName ='Christmas Day' AND (DATEPART(DW,phDate)=7))  AND phYear=@nYear 
		--Sunday
		UPDATE  tblPublicHolidaysAuto
		SET phDate = DATEADD(day,1,phDate) 
		WHERE  (phName ='Christmas Day' AND (DATEPART(DW,phDate)=1)) AND phYear=@nYear
		--=================================================

		--Set Boxing day after xmass
		SELECT  @BoxingDay = DATEADD(day,1,phDate)  FROM tblPublicHolidaysAuto  WHERE phName ='Christmas Day' AND phYear = @nYear	
		UPDATE  tblPublicHolidaysAuto
		SET phDate = @BoxingDay
		WHERE phName ='Boxing Day' AND phYear = @nYear
	 
	
		--Update Ohs PH table 
		DELETE  FROM tblOhsPublicHolidays  WHERE tblOhsPublicHolidays.Year  = @nYear 
		INSERT INTO  tblOhsPublicHolidays 
		SELECT DISTINCT PHDID
			,Day(vwPublicHolidaysWA.phActualDate) AS [Day]
			,Month(vwPublicHolidaysWA.phActualDate) AS [Month]
			,YEAR(vwPublicHolidaysWA.phActualDate) AS [Year]
			,vwPublicHolidaysWA.phActualDate
		FROM vwPublicHolidaysWA
		INNER JOIN tblOhsPublicHolidaysDesc ON vwPublicHolidaysWA.phName = tblOhsPublicHolidaysDesc.PhName
		WHERE YEAR(vwPublicHolidaysWA.phActualDate) = @nYear

	
	 
END
